apiVersion: v1
kind: Service
metadata:
  name: postgres-external
  namespace: {{ .Values.namespace }}
spec:
  type: NodePort
  ports:
    - port: 5432
      targetPort: 5432
      nodePort: {{ .Values.service.nodePort }}
      name: postgres
  selector:
    app: postgres
