apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert --profile all -f docker-compose.yml -n nf-shard
    kompose.version: 1.37.0 (HEAD)
  labels:
    io.kompose.service: nextjs
  name: nextjs
  namespace: nf-shard
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: nextjs
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert --profile all -f docker-compose.yml -n nf-shard
        kompose.version: 1.37.0 (HEAD)
      labels:
        io.kompose.service: nextjs
    spec:
      containers:
        - env:
            - name: APP_PASSWORD
              value: password
            - name: APP_SECRET_KEY
              value: e5bf3976b3ac4a2fc11b054d3d6f19421ff1670ce739e3741838ff8ea67cd4c7
            - name: APP_USERNAME
              value: user1
            - name: DEFAULT_ACCESS_TOKEN
              value: ceb6d7c5a9fc1319-78890f02ed21e136-f09661b80172e6e1-8926bf9c880fefaf
            - name: LOG_LEVEL
              value: INFO
            - name: POSTGRES_URI
              value: postgresql://postgres:postgres123@postgres:5432/postgres?schema=public
            - name: HOST
              value: "0.0.0.0"
          #image: ghcr.io/gallvp/nf-shard:latest
          image: nf-shard:local
          imagePullPolicy: IfNotPresent
          name: nf-shard-nextjs
          ports:
            - containerPort: 3000
              protocol: TCP
      restartPolicy: Always
