apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert --profile all -f docker-compose.yml -n nf-shard
    kompose.version: 1.37.0 (HEAD)
  labels:
    io.kompose.service: postgres
  name: postgres
  namespace: nf-shard
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: postgres
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert --profile all -f docker-compose.yml -n nf-shard
        kompose.version: 1.37.0 (HEAD)
      labels:
        io.kompose.service: postgres
    spec:
      containers:
        - env:
            - name: POSTGRES_PASSWORD
              value: postgres123
          image: postgres:18-alpine
          livenessProbe:
            exec:
              command:
                - pg_isready -U postgres -d postgres
            failureThreshold: 20
            periodSeconds: 5
            timeoutSeconds: 2
          name: nf-shard-postgres
          ports:
            - containerPort: 5432
              protocol: TCP
          volumeMounts:
            - mountPath: /var/lib/postgresql
              name: postgres-data
      restartPolicy: Always
      volumes:
        - name: postgres-data
          persistentVolumeClaim:
            claimName: postgres-data
